<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>portfolio</title>
</head>
<body>
<h1>portfolio</h1>
<h2>Pavlo Buiar</h2>
<img src="{{ url_for('static', filename='bilbo_begins.jpg') }}" alt="bilbo"><br>
<p>"Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."</p>
<p> "There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is pain..."</p>
<p><a href="{{ url_for('index') }}">Back to Home</a></p>
</body>
</html>
